.form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form__label {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1.2rem;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.2;
  opacity: 0;
  pointer-events: none;

  @media (min-width: $stop-scaling) {
    margin-bottom: 12px;
    font-size: 16px;
  }

  @media (orientation: portrait) {
    opacity: 1;
    pointer-events: auto;
  }
}


@keyframes form__field--field-fade-in {
  0% {
    opacity: 0;
    width: 0;
    margin-left: auto;
  }

  10% {
    opacity: 1;
  }

  100% {
    width: 100%;
  }
}

.form__field {
  flex: none;
  margin-right: 3rem;
  padding: 0 5.6rem;
  height: 6rem;
  width: 100%;
  max-width: calc(100% - 21rem);
  text-transform: uppercase;
  font: inherit;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-purple-dark;
  border: 0;
  border-radius: 3rem;
  outline: none;
  animation: form__field--field-fade-in 0.7s ease-out;

  &:focus {
    border: 1px solid $c-purple;
  }

  @media (min-width: $stop-scaling) {
    margin-right: 30px;
    padding: 0 56px;
    height: 60px;
    max-width: calc(100% - 210px);
    font-size: 24px;
    border-radius: 30px;
  }

  @media (orientation: portrait) {
    margin-right: 1rem;
    padding: 0 2.5rem;
    max-width: calc(100% - 5rem);
    height: 4rem;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    max-width: calc(100% - 9rem);
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin-right: 1rem;
    padding: 0 2.5rem;
    max-width: calc(100% - 5rem);
    height: 4rem;
    font-size: 1.6rem;
  }
}

.form__button {
  flex-shrink: 0;
  color: transparent;
  animation: form__button-text-fade 0.3s ease-out forwards;

  @media (orientation: portrait) {
    position: relative;
    flex: none;
    padding: 0;
    width: 4rem;
    height: 4rem;
    font-size: 0;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    position: relative;
    flex: none;
    padding: 0;
    width: 8rem;
    height: 8rem;
    font-size: 0;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    width: 4rem;
    height: 4rem;
  }

  .form__button-text {
    position: absolute;
    left: 0;
    right: 0;
  }

  .form__button-spacer {
    opacity: 0;
  }

  svg {
    @include center;
    display: none;
    width: 1.6rem;
    height: 1.8rem;

    @media (min-width: $stop-scaling) {
      width: 16px;
      height: 18px;
    }

    @media (orientation: portrait) {
      display: block;
      opacity: 0;
      animation: form__button-svg-fade 0.3s ease-out forwards;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      display: block;
      opacity: 0;
      animation: form__button-svg-fade 0.3s ease-out forwards;
    }
  }
}

.form--result {
  .form__field {
    width: calc(100% - 31rem);

    @media (min-width: $stop-scaling) {
      width: calc(100% - 310px);
    }

    @media (orientation: portrait) {
      width: calc(100% - 5rem);
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: calc(100% - 9rem);
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: calc(100% - 5rem);
    }
  }
}

@keyframes form__button-svg-fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes form__button-text-fade {
  0% {
    color: transparent;
  }

  100% {
    color: $c-purple-dark;
  }
}
