.screen {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 1;
  overflow: hidden;

  &--hidden {
    display: none;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    min-height: calc(var(--vh, 1vh) * 100);
  }

  @media (max-width: $tablet - 1) and (orientation: landscape) {
    height: 100vh;
  }
}

.screen__wrapper {
  @include container;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.screen__disclaimer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.screen__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: $c-purple-dark;
  background-color: $c-white;
  z-index: 1;
  transform: translateY(100%);
  will-change: transform;

  .document__body_ready & {
    transform: translateY(0);
    transition: transform 0.3s cubic-bezier(0.48, 0.83, 0.16, 0.92);
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0 3.6rem 0 0;

    &.screen__footer--full {
      width: 100%;
      height: 18rem;
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 0 3.6rem 0 0;

    &.screen__footer--full {
      width: 100%;
      height: 16rem;
    }
  }
}

.screen__footer-wrapper {
  @include container;

  @media (max-width: $tablet) and (orientation: portrait) {
    opacity: 0;

    .screen__footer--full & {
      opacity: 1;
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    opacity: 0;

    .screen__footer--full & {
      opacity: 1;
    }
  }
}

.screen__footer-enlarge {
  @include btn-reset;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 4rem;
  height: 4rem;
  color: $c-purple-dark;
  z-index: 1;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: block;

    .screen__footer--full & {
      opacity: 0;
      pointer-events: none;
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: block;

    .screen__footer--full & {
      opacity: 0;
      pointer-events: none;
    }
  }

  svg {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    display: block;
    width: 1rem;
    height: 1rem;
  }
}

.screen__footer-collapse {
  @include btn-reset;
  position: absolute;
  top: 0.6rem;
  right: 0.3rem;
  display: none;
  width: 4rem;
  height: 4rem;
  color: $c-purple-dark;
  z-index: 1;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: block;
    opacity: 0;
    pointer-events: none;

    .screen__footer--full & {
      opacity: 1;
      pointer-events: auto;
    }
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: block;
    opacity: 0;
    pointer-events: none;

    .screen__footer--full & {
      opacity: 1;
      pointer-events: auto;
    }
  }

  svg {
    @include center;
    display: block;
    width: 1.2rem;
    height: 1.2rem;
  }
}

.screen__footer-announce {
  display: none;
  margin-bottom: 1.6rem;
  padding: 3rem 0 0;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: block;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: block;
  }
}

.screen__footer-label {
  margin: 0 0 0.3rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 1.2;
}

.screen__footer-date {
  margin: 0;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 0.9;
}

.screen__footer-note {
  padding: 0.8rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.2;

  @media (min-width: $stop-scaling) {
    padding: 8px 0;
    font-size: 12px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    padding: 0 0 0 2.5rem;
    text-transform: none;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 0 0 0 2.5rem;
    text-transform: none;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.1;
  }

  p {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
  }

  svg {
    display: block;
    margin-right: 1rem;
    width: 1rem;
    height: 1rem;

    @media (min-width: $stop-scaling) {
      margin-right: 10px;
      width: 10px;
      height: 10px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      display: none;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      display: none;
    }
  }

  span {
    margin-right: 2rem;

    @media (min-width: $stop-scaling) {
      margin-right: 20px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin-right: 0;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-right: 0;
    }

    &.on-top {
      display: none;

      .section-top & {
        display: inline;
      }
    }

    &.on-prizes {
      display: none;

      .section-prizes & {
        display: inline;
      }
    }
  }
}

.screen--story {
  &.screen--transitioning {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
  }
}

$screen--prizes--animation-duration: 0.4s;

@keyframes screen--prizes--bg-slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.screen--prizes {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    will-change: transform;
    background-color: $c-purple-dark;
  }

  &.screen--transitioning {
    display: block;
    z-index: -1;

    .screen__wrapper {
      opacity: 0;
    }

    .screen__footer {
      transform: translateY(100%);
    }
  }

  &.active {
    z-index: 1;

    &::after {
      animation: screen--prizes--bg-slide-up $screen--prizes--animation-duration ease-in-out forwards;
    }

    .screen__wrapper {
      opacity: 1;
      transition: opacity 0.4s ease-in $screen--prizes--animation-duration; // TODO убрать когда будет задание на анимацию этого экрана
    }

    .screen__footer {
      transform: translateY(0);
      transition: transform $screen--prizes--animation-duration cubic-bezier(0.48, 0.83, 0.16, 0.92);
    }
  }
}

.screen--game {
  position: relative;
  background-color: $c-purple-dark;

  .screen__picture {
    position: absolute;
    right: -8.5rem;
    bottom: 0;
    transform: translate(200px, 200px);

    @media (min-width: $stop-scaling) {
      right: -85px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      opacity: 0;
    }
  }

  .screen__image {
    display: block;
    object-fit: contain;
    width: 32.7rem;
    height: 36.9rem;

    @media (min-width: $stop-scaling) {
      width: 327px;
      height: 369px;
    }
  }
}

.screen--result {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $c-purple-dark;
  opacity: 0;
  pointer-events: none;

  &.screen--show {
    opacity: 1;
    pointer-events: auto;
  }
}

.screen--rules {
  background-color: $c-purple-dark;
}
