$social-block--toggler-transition-duration: 0.3s;
$social-block--toggler-transition-delay: 0.1s;

$social-block--elements-count: 3;
$social-block--element-transform-transition-duration: 0.35s;
$social-block--element-opacity-transition-duration: 0.3s;
$social-block--element-transition-delay: 0.1s;

$social-block--link-transition-duration: 0.3s;

@mixin show-social-elements {
  pointer-events: auto;

  @for $i from 1 through $social-block--elements-count {
    li:nth-child(#{$i}) {
      opacity: 1;
      transform: translateY(0);
      transition:
        opacity $social-block--element-opacity-transition-duration ease-out #{$social-block--element-transition-delay * $i},
        transform $social-block--element-transform-transition-duration ease-out #{$social-block--element-transition-delay * $i};
    }
  }
}

.social-block {
  position: relative;
}

.social-block--active {
  .social-block__toggler:not(:hover) {
    color: $c-light;

    &::before {
      background-color: $c-purple;
    }
  }

  .social-block__list {
    @include show-social-elements();
  }
}

@keyframes social-block__toggler--before-pulse {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.125);
  }

  100% {
    transform: scale(1);
  }
}

.social-block__toggler {
  @include btn-reset;
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-dark;
  border-radius: 50%;
  transition: color $social-block--toggler-transition-duration ease-out $social-block--toggler-transition-delay;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
    transform: scale(1);
    transform-origin: center;
    transition:
      transform $social-block--toggler-transition-duration ease-out $social-block--toggler-transition-delay,
      background-color $social-block--toggler-transition-duration ease-out $social-block--toggler-transition-delay;
    border-radius: 50%;
    background-color: $c-light;
    z-index: -1;

    .document__body_ready & {
      $social-block--toggler-transition-duration: 0.4s;

      animation: social-block__toggler--before-pulse $social-block--toggler-transition-duration $page-header__logo--page-header__nav--screen__footer--timing-function $page-header__nav--transition-delay;
    }
  }

  svg {
    @include center;
    display: block;
    width: 2.3rem;
    height: 2.2rem;
  }

  &:hover {
    color: $c-purple;

    &::before {
      transform: scale(1.125);
    }
  }

  &:focus {
    color: $c-purple;
    outline: none;

    &::before {
      border-color: $c-purple;
    }

    ~ .social-block__list {
      @include show-social-elements();
    }
  }

  &:active,
  &:active:focus {
    color: $c-light;

    &::before {
      transform: scale(1);
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.social-block__list {
  @include list-reset;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 1.5rem;
  pointer-events: none;

  @media (min-width: $stop-scaling) {
    margin-top: 15px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 1.5rem;

    @media (min-width: $stop-scaling) {
      height: 15px;
    }
  }

  &:hover {
    opacity: 1;
    pointer-events: auto;
  }

  &:focus-within {
    opacity: 1;
    pointer-events: auto;
  }

  li {
    flex: none;
    opacity: 0;
    transform: translateY(20px);
    margin-bottom: 0.5rem;

    @media (min-width: $stop-scaling) {
      margin-bottom: 5px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin: 0 1.25rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin: 0 1.25rem;
    }
  }
}

.social-block__link {
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-light;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: color $social-block--link-transition-duration ease-out;

  @media (min-width: $stop-scaling) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    color: $c-light;
    background-color: $c-dark;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    color: $c-light;
    background-color: $c-dark;
  }

  &:hover {
    color: $c-purple;
  }

  &:focus {
    color: $c-purple;
    background-color: $c-light;
    border-color: $c-purple;
    outline: none;
  }

  &:active,
  &:active:focus {
    color: $c-purple;
    background-color: $c-light;
    border-color: $c-light;
  }

  svg {
    @include center;
  }

  &--fb {
    svg {
      width: 0.8rem;
      height: 1.7rem;

      @media (min-width: $stop-scaling) {
        width: 8px;
        height: 17px;
      }
    }
  }

  &--insta {
    svg {
      width: 1.5rem;
      height: 1.5rem;

      @media (min-width: $stop-scaling) {
        width: 15px;
        height: 15px;
      }
    }
  }

  &--vk {
    svg {
      width: 1.7rem;
      height: 1rem;

      @media (min-width: $stop-scaling) {
        width: 10px;
        height: 10px;
      }
    }
  }
}
