$social-block--elements-count: 3;

@mixin show-social-elements {
  pointer-events: auto;

  @for $i from 1 through $social-block--elements-count {
    li:nth-child(#{$i}) {
      opacity: 1;
      transform: translateY(0);
      transition:
        opacity 0.3s ease-out #{0.1s * $i},
        transform 0.35s ease-out #{0.1s * $i};
    }
  }
}

.social-block {
  position: relative;

  --toggle-default: #{$c-purple};
  --toggle-hover: #{$c-purple-dark};

  &_background_blue {
    --toggle-default: #{$c-blue-dark};
    --toggle-hover: #{$c-blue};
  }

  &_background_gray {
    --toggle-default: #{$c-blue};
    --toggle-hover: #{$c-blue-dark};
  }
}

.social-block--active {
  .social-block__toggler:not(:hover) {
    color: $c-white;

    &::before {
      background-color: $c-purple;
    }
  }

  .social-block__list {
    @include show-social-elements();
  }
}

@keyframes social-block__toggler--before-pulse {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.125);
  }

  100% {
    transform: scale(1);
  }
}

.social-block__toggler {
  @include btn-reset;
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: var(--toggle-default);
  border-radius: 50%;
  transition: color 0.3s ease-out 0.1s;

  @media (max-width: $tablet) and (orientation: portrait) {
    display: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
    transform: scale(1);
    transform-origin: center;
    transition:
      transform 0.3s ease-out 0.1s,
      background-color 0.3s ease-out 0.1s;
    border-radius: 50%;
    background-color: $c-white;
    z-index: -1;
    border: 2px solid transparent;

    .document__body_ready & {
      animation: social-block__toggler--before-pulse 0.4s cubic-bezier(0.48, 0.83, 0.16, 0.92) 0.4s;
    }
  }

  svg {
    @include center;
    display: block;
    width: 2.3rem;
    height: 2.2rem;
  }

  &:hover {
    color: var(--toggle-hover);

    &::before {
      transform: scale(1.125);
    }
  }

  &:focus {
    color: var(--toggle-hover);
    outline: none;

    &::before {
      border-color: currentColor;
    }

    ~ .social-block__list {
      @include show-social-elements();
    }
  }

  &:active,
  &:active:focus {
    color: $c-white;

    &::before {
      transform: scale(1);
      background-color: var(--toggle-hover);
      border-color: var(--toggle-hover);
    }
  }
}

.social-block__list {
  @include list-reset;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 1.5rem;
  pointer-events: none;

  @media (min-width: $stop-scaling) {
    margin-top: 15px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    opacity: 1;
    pointer-events: auto;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 1.5rem;

    @media (min-width: $stop-scaling) {
      height: 15px;
    }
  }

  &:hover {
    opacity: 1;
    pointer-events: auto;
  }

  &:focus-within {
    opacity: 1;
    pointer-events: auto;
  }

  li {
    flex: none;
    opacity: 0;
    transform: translateY(20px);
    margin-bottom: 0.5rem;

    @media (min-width: $stop-scaling) {
      margin-bottom: 5px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      margin: 0 1.25rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin: 0 1.25rem;
    }
  }
}

.social-block__link {
  position: relative;
  display: block;
  width: 4rem;
  height: 4rem;
  color: $c-white;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: color 0.3s ease-out;

  @media (min-width: $stop-scaling) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    color: $c-white;
    background-color: $c-purple-dark;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    color: $c-white;
    background-color: $c-purple-dark;
  }

  &:hover {
    color: $c-purple;
  }

  &:focus {
    color: $c-purple;
    background-color: $c-white;
    border-color: $c-purple;
    outline: none;
  }

  &:active,
  &:active:focus {
    color: $c-purple;
    background-color: $c-white;
    border-color: $c-white;
  }

  svg {
    @include center;
  }

  &--fb {
    svg {
      width: 0.8rem;
      height: 1.7rem;

      @media (min-width: $stop-scaling) {
        width: 8px;
        height: 17px;
      }
    }
  }

  &--insta {
    svg {
      width: 1.5rem;
      height: 1.5rem;

      @media (min-width: $stop-scaling) {
        width: 15px;
        height: 15px;
      }
    }
  }

  &--vk {
    svg {
      width: 1.7rem;
      height: 1rem;

      @media (min-width: $stop-scaling) {
        width: 10px;
        height: 10px;
      }
    }
  }
}
